.MobileNavActive {
  display: none;
}

.MobileNavInactive {
  display: none;
}

@media only screen and (max-width: 900px) {
  .MobileNavActive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--green);
    color: #ffffff;
    font-family: var(--sans-serif);
    height: 100vh;
    z-index: 20000000000000000;
    padding: 20px 10px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .MobileNavInactive {
    position: fixed;
    top: 0;
    left: -500px;
    width: 100%;
    background: var(--green);
    color: #ffffff;
    font-family: var(--sans-serif);
    height: 100vh;
    z-index: 20000000000000000;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }

  .CloseMenu {
    color: #ffffff;
    border: none;
    outline: none;
    align-self: flex-end;
    margin-right: 20px;
    background: transparent;
    transform: scale(1.2);
  }
}
