.FooterLogo {
  width: 33.3%;
}

.FooterLogo p {
  width: 70%;
  font-size: 1rem;
  line-height: 30px;
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  .FooterLogo {
    width: 100%;
  }
}
