@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=DM+Sans:wght@400;500&display=swap");

:root {
  --sans-serif: "DM Sans", sans-serif;
  --amati: "Amatic SC", "cursive";
  --gold: #ffcd1e;
  --green: #2a750d;
  --footer_background: #0e2207;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}
